/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family: 'Anton', sans-serif; -> Numbers
font-family: 'Alata', sans-serif; -> All
*/
:root{
    /* Dark Mode Settings */
    --dark-mode-bg: #121212;
    --dark-mode-color: #fff;
    /* Light Mode Settings */
    --light-mode-bg: #fff;
    --light-mode-color: #121212;
    /* Bg other sections */
    --bg-color-section-darkgray: #24292e;
    --bg-light-sun: #fefae0;
}
body{
    margin: 0;
    cursor: default;
    color: var(--dark-mode-color);
    background-color: #00bbf9;
    font-family: 'Alata', sans-serif;
    animation-name: example;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    background-position:center center;
    background-repeat: no-repeat;
}

@keyframes example{
  0%{
    background-image: url(../assets/img/cloud.jpg);
    background-position: center center;
  }
  30%{
    background-image: url(../assets/img/clouds\ sunset.jpg);
    background-position: center center;
  }
  50%{
    background-image: url(../assets/img/cloud\ 1.jpg);
    background-position: center center;
  }
  67%{
    background-image: url(../assets/img/beach.jpg);
    background-position: center center;
  }
  
  85%{
    background-image: url(../assets/img/sheets.jpg);
    background-position: center center;
  }
  100%{
    background-image: url(../assets/img/rain.jpg);
    background-position: center center;
  }


}
section.web-titles{
    font-size: 30pt;
    text-align: center;
    color: rgb(228, 240, 2);
    font-family: 'Poppins', sans-serif;

}
section.web-titles h1.main-title:hover{
    color: rgb(8, 4, 0);
}
section.contents-darkgray{
    height: 530px;
    margin-top: 45px;
    background-color:transparent;
}

.card{
    background-color: #120b0ba5;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 50px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }

  .contents-darkgray{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  