// # -- Styles for App -- # //
@import '../Styles/Index.scss';
@import '../../Components/WeatherContainer/WeatherContainer.scss';

$textColor_hover: #AAC8A7;

$TextColor_enabledLanguageHover: #FEBE8C;
$textColor_enabledLanguage: $textColor_values;
$textColor_disabledLanguage: #999;

/////////////////////////////////////////////////

nav{
    &.navbar{
        color: $textColor_disabledLanguage !important;
        background-color: $backgroundColor_darkmode !important;
        box-sizing: border-box;
        .webVersion{
            display: block;
            font-size: 9pt;
            font-style: italic;
            margin-right: 10px;
            margin-left: -5px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .nav-link{
            &:hover, &:focus{
                color: $textColor_hover !important;
            }
            &.show{
                color: $textColor_hover !important;
            }
            &.unique{
                text-decoration-line: underline;
                text-decoration-style: dashed;
                text-underline-offset: 5px;
                &:hover{
                    transition: all ease-in-out 175ms;
                    text-underline-offset: 8px;
                }
            }
        }
        .navbar-toggler{
            border: none !important;
            &:focus{
                box-shadow: none;
            }
        }
        .changelog{
            svg{
                color: rgba(255, 255, 255, 0.55);
                &:hover{
                    color: $textColor_hover !important;
                }
            }
        }
        .copyright-message{
            margin-top: 3.5px;
            text-align: center;
            font-size: 10pt;
            &:hover{
                color: rgba(255, 255, 255, 0.55) !important;
            }
            a{
                $authorColor: #AAC8A7;
                color: $authorColor;
                text-decoration-line: underline;
                text-decoration-style: dashed;
                text-underline-offset: 3px;
                &:hover{
                    transition: all ease-in-out 175ms;
                    text-underline-offset: 6px;
                }
            }
        }
        ul{
            li{
                &.dropdown{
                    position: initial;
                }
                .dropdown-item{
                    color: $textColor_disabledLanguage !important;
                    &.enabled{
                        color: $textColor_enabledLanguage !important;
                        &:hover{
                            color: $TextColor_enabledLanguageHover !important;
                        }
                    }
                    &.disabled{
                        text-decoration-line: line-through;
                        text-decoration-style: double;
                        color: $textColor_disabledLanguage !important;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu{
                width: 100%;
            }
            .dropdown-menu > li{
                display: table-cell;
            }
            .dropdown-menu{
                &.show{
                    z-index: 999;
                    margin-top: 0px;
                    border: none;
                    border-radius: 0px;
                    background-color: $backgroundColor_darkmode !important;
                }
            }
            .dropdown-toggle{
                &:after{
                    vertical-align: .135em;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .dropdown-menu{
        position: absolute !important;
    }
    .nav-link{
        text-align: center !important;
    }
    .copyright-message{
        text-align: center;
    }
}