

/* # -- CSS for App.jsx -- # */

div.bar {
    padding: 7px 25px;
    background-color: rgba(32, 38, 46, 0.75);
    color: #999;
    box-sizing: border-box;
}

div.bar p#switchLanguageBar{
    display: flex;
    justify-content: flex-start;
}

div.bar p#extraThings{
    float: right;
    margin-top: -23px;
    text-align: end;
}

div.bar span {
    margin-right: 2px;
    cursor: pointer;
}

div.bar span:last-child {
    margin-right: 0px;
}

div.bar span:hover {
    color: #CD5D7D;
}

div.bar span.web-version{
	margin-right: -10px;
    color: #999;
    display: inline-block;
}

div.bar span.web-version:hover{
    cursor: default;
    color: #CD5D7D;
}

span[status=disabled]:hover{
  color: #999;
  cursor: default;
}