// # -- Styles for App -- # //
@import '../Styles/Index.scss';
@import '../../Components/WeatherContainer/WeatherContainer.scss';

$textColor_hover: #49a569;

$TextColor_enabledLanguageHover: #FEBE8C;
$textColor_enabledLanguage: $textColor_values;
$textColor_disabledLanguage: #999;

/////////////////////////////////////////////////

nav{
    &.navbar{
        color: $textColor_disabledLanguage !important;
        background-color: $backgroundColor_darkmode !important;
        box-sizing: border-box;
        .nav-link{
            &:hover{
                color: $textColor_hover !important;
            }
            &.show{
                color: $textColor_hover !important;
            }
        }
        .navbar-toggler{
            border: none !important;
            &:focus{
                box-shadow: none;
            }
        }
        .copyright-message{
            margin-top: 4px;
            text-align: center;
            font-size: 10pt;
            &:hover{
                color: rgba(255, 255, 255, 0.55) !important;
            }
            a{
                color: #1B9C85;
            }
        }
        ul{
            li{
                &.dropdown{
                    position: initial;
                }
                .dropdown-item{
                    color: $textColor_disabledLanguage !important;
                    &.enabled{
                        color: $textColor_enabledLanguage !important;
                        &:hover{
                            color: $TextColor_enabledLanguageHover !important;
                        }
                    }
                    &.disabled{
                        text-decoration-line: line-through;
                        text-decoration-style: double;
                        color: $textColor_disabledLanguage !important;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu{
                width: 100%;
            }
            .dropdown-menu > li{
                display: table-cell;
            }
            .dropdown-menu{
                &.show{
                    z-index: 999;
                    margin-top: 0px;
                    border: none;
                    border-radius: 0px;
                    background-color: $backgroundColor_darkmode !important;
                }
            }
            .dropdown-toggle{
                &:after{
                    vertical-align: .135em;
                }
            }
        }
    }
}


// Changelog \\
#HW_badge_cont{
    content: url(../Images/Icons/notifications.png);
    margin-right: 5px;
    color: #FFDEB4;
    z-index: 999;
}

#changelog{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 65px;
}

.HW_frame_cont{
    width: 290px !important;
    margin-top: 5px !important;    
}


@media screen and (max-width: 992px){
    .dropdown-menu{
        position: absolute !important;
    }
    .nav-link{
        text-align: center !important;
    }
    .copyright-message{
        text-align: center;
    }
}