// # -- Styles for App -- # //
@import '../Styles/Index.scss';
@import '../../Components/WeatherContainer/WeatherContainer.scss';

$textColor_hover: #49a569;

$TextColor_enabledLanguageHover: #FEBE8C;
$textColor_enabledLanguage: $textColor_values;
$textColor_disabledLanguage: #999;

/////////////////////////////////////////////////

nav{
    &.navbar{
        color: $textColor_disabledLanguage !important;
        background-color: $backgroundColor_darkmode !important;
        box-sizing: border-box;
    }
}

.nav-link{
    &:hover{
        color: $textColor_hover !important;
    }
    &.show{
        color: $textColor_hover !important;
    }
}

.navbar-toggler{
    border: none !important;
    &:focus{
        box-shadow: none;
    }
}

li{
    &.dropdown{
        position: initial;
    }
}

.dropdown-menu{
    width: 100%;
}

.dropdown-menu > li{
    display: table-cell;
}

.dropdown-menu{
    &.show{
        z-index: 999;
        margin-top: 0px;
        border: none;
        border-radius: 0px;
        background-color: $backgroundColor_darkmode !important;
    }
}

.dropdown-toggle{
    &:after{
        vertical-align: .135em;
    }
}

.dropdown-item{
    color: $textColor_disabledLanguage !important;

    &.enabled{
        color: $textColor_enabledLanguage !important;
        &:hover{
            color: $TextColor_enabledLanguageHover !important;
        }
    }
}

.dropdown-item{
    &.disabled{
        text-decoration-line: line-through;
        text-decoration-style: double;
        color: $textColor_disabledLanguage !important;
    }
}

.dropdown-item{
    &:hover{
        cursor: pointer;
        background-color: transparent;
    }
}

.web-version{
    color: #FFDEB4 !important;
    
    &:hover{
        color: #FFF6BD !important;
    }
}

// Changelog \\
#HW_badge_cont{
    content: url(../Images/Icons/notifications.png);
    margin-right: 5px;
    color: #FFDEB4;
    z-index: 999;
}

#changelog{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 65px;
}

.HW_frame_cont{
    width: 290px !important;
    margin-top: 5px !important;    
}







@media screen and (max-width: 992px){
    .navbar-nav .dropdown-menu{
        position: absolute !important;
    }
    .nav-link{
        text-align: center !important;
    }
}