/* # -- CSS for App.jsx -- # */

nav.navbar{
    color: #999 !important;
    background-color: rgba(32, 38, 46, 0.75) !important;
    box-sizing: border-box; 
}

.nav-link:hover{
    color: #68B984 !important;
}
.nav-link.show{
    color: #68B984 !important;
}

.dropdown-menu{
    z-index: 2 !important;
    background-color: rgba(32, 38, 46, 0.75) !important;
}

.dropdown-item{
    color: #999 !important;
}

.dropdown-item:hover{
    color: #68B984 !important;
    background-color: rgba(32, 38, 46, 0.75) !important;
}

.dropdown-item.enabled{
    cursor: pointer !important;
    color: #FFF6BD !important;
}

.dropdown-item.disabled{
    cursor: not-allowed !important;
    color: rgba(255, 255, 255, 0.25) !important;
}

.web-version{
    color: #FEBE8C !important;
}

.web-version:hover{
    color: #FFF6BD !important;
}

@media screen and (max-width: 992px){
    .nav-link{
        text-align: center !important;
    }
}