// Fonts \\
@font-face {
    font-family: 'Alata';
    src: url('../Fonts/Alata/Alata-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

// Some Variables \\
$default_cursor: default;
$textColor_darkmode: #fff;

$backgroundColor_scrollbar: #68B984;
$default-backgroundColor_darkmode: #20262E;
$backgroundColor_darkmode: rgba(32, 38, 46, 0.75);

::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background-color: $backgroundColor_darkmode;
}
::-webkit-scrollbar-thumb {
    background-color: $backgroundColor_scrollbar;
    border-radius: 5px;
}

body{
    margin: 0;
    cursor: $default_cursor;
    color: $textColor_darkmode !important;
    background-color: $default-backgroundColor_darkmode !important;
    font-family: 'Alata', sans-serif;
    animation-name: example;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}